@using Microsoft.AspNetCore.Mvc.Localization
@using Allegory.SampleApp.Localization
@inject IHtmlLocalizer<SampleAppResource> L
<a class="nav-link" role="button" href="~/Account/Login">@L["Login"]</a>
