<div class="card mt-3">
  <div class="card-header">
    <div class="row">
      <div class="col col-md-6">
        <h5 class="card-title">{{ 'NgSampleApp::Customers' | abpLocalization }}</h5>
      </div>

      <div class="col col-md-6">
        <button
          *abpPermission="'NgSampleApp.Customers.Create'"
          class="btn btn-sm btn-primary float-end"
          [routerLink]="['/customers/edit']"
        >
          <i class="fa fa-plus"></i>
          {{ '::Create' | abpLocalization }}
        </button>
      </div>
    </div>
  </div>

  <div class="card-body">
    <abp-extensible-table
      [data]="data.items"
      [recordsTotal]="data.totalCount"
      [list]="list"
    ></abp-extensible-table>
  </div>
</div>
