<div class="card mt-3">
  <div class="card-header">
    <span class="card-title">Müşteriler</span>
    <button
      *abpPermission="'NgSampleApp.Customers.Create'"
      class="btn btn-sm btn-primary float-end"
    >
      <i class="fa fa-plus"></i>
      {{ '::Create' | abpLocalization }}
    </button>
  </div>

  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">{{ 'AbpUi::Actions' | abpLocalization }}</th>
          <th scope="col">Id</th>
          <th scope="col">Adı</th>
          <th scope="col">Soyadı</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers; let i = index">
          <th scope="row">
            <button
              *ngIf="hasAnyPolicy"
              class="btn btn-sm btn-primary dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              {{ 'AbpUi::Actions' | abpLocalization }}
            </button>
            <ul class="dropdown-menu">
              <li *abpPermission="'NgSampleApp.Customers.Edit'">
                <button class="dropdown-item">
                  {{ 'AbpUi::Edit' | abpLocalization }}
                </button>
              </li>
              <li *abpPermission="'NgSampleApp.Customers.Delete'">
                <button class="dropdown-item">
                  {{ 'AbpUi::Delete' | abpLocalization }}
                </button>
              </li>
            </ul>
          </th>

          <td>{{ customer.id }}</td>
          <td>{{ customer.name }}</td>
          <td>{{ customer.surname }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
