::ng-deep {
  .p-card-body {
    padding: 0.5rem !important;
  }
  .p-accordion .p-accordion-header .p-accordion-header-link {
    padding: 0.75rem !important;
  }
  .p-accordion-content {
    padding: 0.75rem !important;
  }
}
