@page
@using Microsoft.Extensions.Localization
@using Allegory.NgSampleModule.Localization
@using Allegory.NgSampleModule.Web.Pages.NgSampleModule
@model Allegory.NgSampleModule.Web.Pages.NgSampleModule.IndexModel
@inject IStringLocalizer<NgSampleModuleResource> L

@{
}
<h1>NgSampleModule</h1>
<p>@L["SamplePageMessage"]</p>
