<button class="btn btn-warning" (click)="reset()">Reset</button>
<hr />

<app-content [tabs]="tabs" [selected]="selected">
  <ng-template #altHeaderTemplate let-tabs>
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item" *ngIf="tabs.length < 1">
        <a class="nav-link active" href="#"> Empty tab </a>
      </li>

      <li class="nav-item" *ngFor="let tab of tabs">
        <a
          class="nav-link rounded"
          [ngClass]="{ active: selected?.name === tab.name }"
          href="#"
          (click)="selectedChange(tab)"
        >
          {{ tab.name }}

          <i
            (click)="closeTab(tab.name)"
            class="fa fa-times text-danger"
            aria-hidden="true"
          ></i>
        </a>
      </li>
    </ul>
  </ng-template>

  <div class="card-footer">
    <h5>Footer</h5>
  </div>
</app-content>
