<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <img
      src="http://allegorysoft.com/assets/img/logo.png"
      height="40"
      class="mr-2"
    />
  </ng-template>

  <ng-template pTemplate="end">
    <div class="d-flex justify-content-center align-items-center">
      <app-languages></app-languages>

      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-{{ (theme$ | async).isDark ? 'sun' : 'moon' }}"
        class="p-button-xsm p-button-rounded p-button-text ml-2"
        (click)="toggleTheme()"
      ></button>

      <button
        *ngIf="!isAuthenticated; else auth"
        type="button"
        class="p-button-sm p-button-text ml-1"
        pButton
        pRipple
        icon="pi pi-sign-in"
        (click)="navigateToLogin()"
      ></button>

      <ng-template #auth>
        <button
          type="button"
          class="p-button-sm p-button-text ml-1"
          pButton
          pRipple
          icon="pi pi-user"
          label="{{ (currentUser$ | async).name }}"
          (click)="menu.toggle($event)"
        ></button>

        <p-slideMenu #menu [model]="navItems" [popup]="true"></p-slideMenu>
      </ng-template>
    </div>
  </ng-template>
</p-menubar>
