@page
@using Microsoft.Extensions.Localization
@using Allegory.Module.Localization
@using Allegory.Module.Web.Pages.Module
@model Allegory.Module.Web.Pages.Module.IndexModel
@inject IStringLocalizer<ModuleResource> L

@{
}
<h1>Module</h1>
<p>@L["SamplePageMessage"]</p>

@section scripts {
    <abp-script-bundle name="@typeof(IndexModel).FullName">
        <abp-script src="/client-proxies/module-proxy.js" />
    </abp-script-bundle>
}
