@page "/StockManagement"
@using Microsoft.Extensions.Localization
@using global::Allegory.StockManagement.Localization
@inject IStringLocalizer<StockManagementResource> L
@{
}
<h1>StockManagement</h1>
<p>@L["SamplePageMessage"]</p>