@page
@using Microsoft.Extensions.Localization
@using Allegory.StockManagement.Localization
@using Allegory.StockManagement.Web.Pages.StockManagement
@model Allegory.StockManagement.Web.Pages.StockManagement.IndexModel
@inject IStringLocalizer<StockManagementResource> L

@{
}
<h1>StockManagement</h1>
<p>@L["SamplePageMessage"]</p>
